@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3>Add User:</h3>
<form asp-controller="Home" asp-action="CreateUser">
	<label>Email:</label><br />
	<input type="text" name="e" /><br />
	<label>Password:</label><br />
	<input type="password" name="p" /><br />
	<input type="submit" value="Create User" /><br />
</form>